/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}
body {
    line-height: 1;
    background: white;
    font-family: 'Montserrat', sans-serif;
    color: #333333;}
ol, ul {
	list-style: none;}
blockquote, q {
	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;}

h1{
    font-size: 50px;}

.bg-blue{
    background-color: #004C94;}
.bg{
    background: #e5e5e5;}
.header{
    height: 101px;
}
.header .nav-kiri{
    padding: 18px 0px;}
    .header .nav-kiri nav{
        padding-top : 22px;}
    .header .nav-kiri nav a{
        color : white;
        opacity: 0.64;}
    .header .nav-kiri nav a:hover{
        opacity: 1;}
.header .user-menu{
    text-align: right;
    padding-right: 148px;
    padding-top: 38px;}
    .header .user-menu a{
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        padding: 8px 20px;
        text-align: center;
        color:white;}
        .header .user-menu a img{
            width:50px;
            position: absolute;
            border-radius : 100%;
            margin-top : -20px;}
        .header .user-menu a sup span .badge{
            width: 15px;}
        

.tbl-biru{
        width: 93px;
        height: 36px;
        color:white;
        background-color: #004C94;}
        .tbl-biru:hover{
            color:#004C94;
            background-color: white;
            border: 1px solid #004C94;}
/* .kotak-bg{
    position: absolute;
    width: 675px;
    height: 674.5px;
    left: 0px;
    top: 0px;

    background: rgba(196, 196, 196, 0.44);} */
.welcome-area{
    background-image: url('../img/image-welcome.svg');
    height: 567px;
    padding-top: 200px;}
    .welcome-area h1{
    font-size: 56px;
    font-weight: bold;
    color: #fff;}
    .welcome-area p{
        font-size: 20px;
        font-weight: 300;
        color: #fff;
        opacity: 0.64;}

.bg-gray{
    background: rgba(196, 196, 196, 0.44);}

.flash-sale{
    margin-top: 53px;}
    .flash-sale h1{
        color: #004C94;
        font-size:48px;
        line-height: 59px;}
    .flash-sale-title{
        font-weight: bold;
    }

.price{
    padding-top: 12px;
    font-size: 12px;
    font-weight: bold;}
.price s{
    padding-top: 12px;
    font-weight: normal;}

.lingkaran{
    padding: 8px 0px;}
    
    .intro-wa .header-wa{
        padding: 216px 0px 225px 109px;}
    .intro-wa .header-wa h1{
        font-weight: normal;}
    .intro-wa .header-wa p{
        padding-left: 2px;}

.kelas{
    padding-bottom: 25px;}
.kelas-wa{
    padding: 0px 0px;;}
    .kelas-wa h1{
        margin-left: 100px;
        margin-bottom: 36px;}
    .kelas-wa .thumb{
        width: 203px;
        height: 128px;
        padding-top:25.02px;
        text-align: center;
        background-color: black;
        margin-bottom: 14px;}
    .kelas-wa .thumb img{
        width : 89px;
        height: 77px;  }
    .kelas-wa .kelas-info{
        padding-left: 14px;}
    .kelas-wa .kelas-info h1{
        font-size: 16px;
        font-weight: 300;}
    .kelas-wa .kelas-info .author{
        font-size: 12px;
        margin : 8px 0px;}
    .kelas-wa .kelas-info .pilih-kelas a{
        font-size: 12px;
        color: black;
        font-weight: bold;}
.p-8{
    padding: 0px 8px;}

.join-ajar{
    height: 667px;}
    .join-ajar-konten{
        padding: 200px 0px;
        background-color: rgba(196, 196, 196, 0.44);
        padding-left: 144px;
        padding-right: 15px;}
    .join-ajar-konten h1{
        font-size:48px;
        margin-bottom: 16px;}
    .join-ajar-konten p{
        font-size: 12px;
        line-height: 15px;}
    .join-ajar-konten a{
        margin-top: 22px;
        text-align: center;
        color: #333333;
        border: solid #000 1px;
        display: inline-block;
        width: 93px;
        height: 36px;
        font-size: 12px;
        padding: 10px 0px 11px;}
    .tips-artikel{
        margin-bottom: 28px;}
        .tips-artikel .container{
            padding: 0px 90px;}
        .tips-artikel h1{
            padding-bottom: 21px;
        }
        .tips-artikel-img{
            width: 312px;
            height: 256px;
            background-color: black;
            padding-top: 89.02px;
            text-align: center;
            margin: 8px;
        }
            .tips-artikel-img img{
                width: 89.95px;
                height: 77.15px;}

.footer{
    background-color: black;
    height: 667px;
    padding-top: 230px;
    padding-left: 144px;}
    .footer .footer-konten{
        color:white;}
    .footer .list-footer{ 
        opacity: 0.64;}
    .footer .list-footer .list-footer-header{
        font-size: 20px;
        padding-bottom: 32px;}
    .footer .list-footer .list-footer-list ul{
        list-style-type: none;}
        .footer .list-footer .list-footer-list li{
            padding-bottom: 16px;
            font-size: 16px;}
        .footer .list-footer .list-footer-list li a{
            color: white;
            text-decoration: none;}
    